{{#partial "contenido" }}
                <div class="row my-5">
                    <h3 class="fs-4 mb-3">{{titulo}}</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">{{tipoNombre}}</th>
                                    <th scope="col">Valor de HC</th>
                                    <th scope="col">{{tipoDatoExtra}}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each reportes}}
                                <tr>
                                    <td>{{nombre}}</td>
                                    <td>{{valor}}</td>
                                    <td>{{datoExtra}}</td>
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
{{/partial}}
{{> organizacion/baseOrganizacion.hbs }}