{{#partial "contenido" }}
<div class="row my-5">
    <div class="col">
        <section class="container-fluid p-5 bg-light" id="def" style="height: 65vh;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-12">
                        <h2 class="pb-3 text-center mb-5">Nueva organizacion</h2>
                        <form class="needs-validation" method="POST"
                            action="/miembro/{{miembro.id}}/registrarTrayecto/{{trayecto.id}}" novalidate>
                            <div class="form-row">
                                <h4>Direccion</h4>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Provincia</label>
                                    <div class="elegirOrganizacion-container">
                                        <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Elegir provincia
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {{#each provincias}}
                                            <li>
                                                <a class="dropdown-item"
                                                    href="/usuario/{{usuario.id}}/crearOrganizacion/Direccion/Provincia/{{id}}">{{nombre}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
{{/partial}}
{{> homeUsuario.hbs }}