{{#partial "contenido" }}
                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Miembros del sector: {{sector.nombre}}</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Tipo documento</th>
                                    <th scope="col">Numero de documento</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>

                            <tbody>
                            {{#each miembros}}
                                <tr>
                                    <td>{{nombre}}</td>
                                    <td>{{apellido}}</td>
                                    <td>{{tipoDocumento}}</td>
                                    <td>{{numDoc}}</td>
                                    <td>{{usuario.email}}</td>
                                </tr>
                            {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
{{/partial}}
{{> organizacion/baseOrganizacion.hbs }}