{{#partial "contenido" }}
                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Peticiones</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Numero de documento</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each peticiones}}
                                <tr>
                                    <th scope="row"></th>
                                    <td>{{nombre}}</td>
                                    <td>{{apellido}}</td>
                                    <td>{{numDoc}}</td>
                                    <td>{{email}}</td>
                                    <td>{{estadoPeticion}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
{{/partial}}
{{> base.hbs }}