{{#partial "titulo" }}
<title>Peticiones</title>
{{/partial}}

{{#partial "contenido" }}
                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Peticiones</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Numero de documento</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                            {{#each peticiones}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{nombre}}</td>
                                    <td>{{apellido}}</td>
                                    <td>{{numDoc}}</td>
                                    <td>{{email}}</td>
                                    <td>{{estadoPeticion}}</td>
                                    <td class="check-state">
                                        <form method="POST" action="/organizacion/{{organizacion.id}}/peticiones/{{id}}/aceptar">
                                            <button class="bi bi-check-circle" onclick="aceptarPeticion(this)" type="submit"></button>
                                        </form>
                                        <form method="POST" action="/organizacion/{{organizacion.id}}/peticiones/{{id}}/rechazar">
                                            <button class="bi bi-x-circle" onclick="rechazarPeticion(this)" type="submit"></button>
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
{{/partial}}


{{#partial "script" }}
    function aceptarPeticion(element){
                const xCircle = document.getElementsByClassName('bi-x-circle');
                if(!element.classList.contains("block")){
                    element.classList.add("acept");
                    xCircle[0].classList.add("block");
                }
            }

            function rechazarPeticion(element){
                const checkCircle = document.getElementsByClassName('bi-check-circle');

                if(!element.classList.contains("block")){
                    element.classList.add("decline");
                    checkCircle[0].classList.add("block");
                }
            }
{{/partial}}
{{> baseOrganizacion.hbs }}